---
http_interactions:
- request:
    method: get
    uri: https://api.wunderlist.com/me/lists
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - "\"49389ea8ccf6632e5c10d27fc973e7be\""
      Status:
      - 200 OK
      X-6w-Client-Status:
      - unknown
      X-6w-Timestamp:
      - '1389396862'
      X-Ratelimit-Delay-Hard:
      - '15'
      X-Ratelimit-Delay-Soft:
      - '4401'
      X-Server:
      - ip-10-33-130-18
    body:
      encoding: UTF-8
      string: "[{\"id\":\"ABNSAAGm924\",\"type\":\"List\",\"local_identifier\":null,\"owner_id\":\"AANSAAAHLAY\",\"position\":11.0,\"title\":\"courses\",\"created_at\":\"2012-12-06T01:22:38Z\",\"updated_at\":\"2013-09-14T15:08:12Z\"},{\"id\":\"ABNSAAGqg1c\",\"type\":\"List\",\"local_identifier\":null,\"owner_id\":\"AANSAAAHLAY\",\"position\":3.0,\"title\":\"Bruxelles\",\"created_at\":\"2012-12-06T01:29:12Z\",\"updated_at\":\"2013-09-14T15:08:12Z\"},{\"id\":\"ABNSAAGqg_4\",\"type\":\"List\",\"local_identifier\":null,\"owner_id\":\"AANSAAAHLAY\",\"position\":12.0,\"title\":\"Voiture\",\"created_at\":\"2012-12-06T01:28:49Z\",\"updated_at\":\"2013-09-14T15:08:12Z\"},{\"id\":\"ABNSAAHtFpY\",\"type\":\"Li[...]
